/*общии стили в ключая стили для body*/
body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #1a1a1a;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333333;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff3333;
}

/*шапка*/
header {
    background-color: #333333;
    padding: 20px;
    margin-bottom: 30px;
    height: 80px;
}

/* Стили для меню */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #d4d4d4;
    height: 100%;
}

.menu_logo {
    display: flex;
    align-items: center;
}

.menu_logo img {
    height: 150px;
    margin-right: 10px;
}

.menu_text {
    color: #d4d4d4;
    font-size: 28px;
    margin-right: 30px;
}

#portabl__menu_text{
    margin-right: 150px;
    font-size: 16px;
    display: none;
}

#very_portabl__menu_text{
    font-size: 16px;
    display: none;
    margin: 0 auto;
}

.link {
    display: flex;
    align-items: center;
}

/* Стили для ссылок в меню */
.menu_link {
    padding: 5px;
    margin: 5px;
    font-weight: bold;
    color: #d4d4d4;
    text-decoration: none;
    transition: color 0.25s; 
}

.menu_link:hover {
    color: #fa2758; 
    text-decoration: underline;
}


/*обычная секция*/
.section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #e74c3c;
    animation: fadeIn 0.5s ease-out;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #e74c3c;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #c0392b;
}

.content {
    margin-top: 15px;
    color: #ecf0f1;
}

/*выподяющий контейнер*/
.expandable {
    display: none;
}


/*стили кнопок*/
.button {
    background-color: #ff3333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #c0392b;
}

/*подсказки*/
[data-title] {
    position: relative;
    cursor: help;
}

[data-title]::after {
    content: attr(data-title);
    position: absolute;
    right: 0; top: 1em;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    background: rgba(231, 76, 60, 0.95);
    color: #fff;
    padding: 1em;
    width: 200px;
}
  

[data-title]:hover::after {
  opacity: 1;
}

/*модальное окно*/

.popup-fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll; 
    backdrop-filter: blur(5px);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5c5c5c;
    padding: 10px;
    width: 90%;
    text-align: left;
    border-radius: 5px;
    max-height: 80vh;
    overflow-y: auto;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff3333;
    text-decoration: none;
    cursor: pointer;
}
/*немного стилей для "кода и его работы"*/
.code_and_he_works {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ff3333;
}
  
.code_and_he_works h2 {
    color: #ff3333;
}
  
.code_and_he_works p {
    color: #ffffff;
}
  
.code_and_he_works pre {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
  
.code_and_he_works h7 {
    color: #ff3333;
}

/*очень немного стилей для "плюсы и минусы различных сценариев" а также "якорные карточки "*/
.parsing_the_pros_and_cons_of_scenarios, .anchor_cards ,form, .login{
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*очень немного стилей для "приветсвия"*/
.welcom ,.registration{
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/*анимации*/
/*@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}*/

/*карточка*/

.cardPanels {
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.cardPanels_top {
    text-align: center;
    max-width: 40%;
    border-bottom: 2px solid #333;
    padding: 10px;
    margin-bottom: 40px;
}

.cardPanels_top h2 {
    color: #ff3333;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 325px;
    margin: 10px;
    background-color: #333333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.card img {
    width: 100%;
}

.card_main {
    padding: 10px;
}

.card_title {
    text-align: center;
}



/*paper-chat*/
.paper-menu{
    width: 440px;
    height: 100vh;
    padding: 5px;
    background-color: rgb(0, 0, 0,0.5);
    border-right: 10px solid #e74c3c;
    position: fixed;
    overflow-y: auto;
}

.paper-logo h1{
    color: #fcffcf;
    font-size: 40px;
    margin-bottom: 100px;
}

.paper-list_menu{
    margin-bottom: 200px;
}

.paper-list_menu ul{
    list-style: none;
}

.paper-list_menu li{
    margin: 30px 0;
}

.paper-list_menu a{
    color: #fcffcf;
    text-decoration: none;
    font-size: 25px;
    border-left: 2px solid rgb(143, 46, 11);
    padding-left: 10px;
    transition: 0.2s;
}

.paper-list_menu a:hover{
    border-left: 4px solid rgb(143, 46, 11);
    padding-left: 20px;
}

.paper-menu{
    left: -450px;
    transition: 0.4s;
}

.paper-menu:hover{
    left: 0;
}

#paper_chat-menu{
    margin: 10px;
    margin-bottom: 15px;
}

/* Подвал */
footer {
    padding: 30px;
    background: linear-gradient(180deg, #333333 0%, #333333 80%);
    color: #fff;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.footer_left p {
    margin: 20px 0;
}

.footer_right {
    display: flex;
}

.footer_list {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.footer_list p {
    font-weight: bold;
    padding: 15px 0;
}

.footer_list ul {
    list-style: none;
}

.footer_list ul li a {
    color: #fff;
    display: block;
    padding-bottom : 2%;
    text-decoration: none;
}

.footer_list ul li a:hover {
    text-decoration: underline;
}

.name_person {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    padding-left:0px ;
}


@media only screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .menu_logo img {
        display: none;
    }

    #portabl__menu_text{
        display: inline-block;
    }
    
    #unportabl__menu_text{
        display: none;
    }

    .menu_link {
        display: block;
        font-size: 16px;
        margin: 10px 0;
    }

    .cardPanels_top {
        padding: 5px;
        margin-bottom: 10px;
    }

    .cardPanels {
        padding: 35px;
    }
}

@media (max-width: 425px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
    
    .footer_left {
        max-width: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .footer_right {
        flex-direction: column;
    }
    
    .footer_list ul li a {
        padding: 10px 20px;
    }

    .cardPanels_top {
        max-width: 80%;
        padding: 5px;
        margin-bottom: 10px;
    }

    .cardPanels {
        padding: 20px;
    }

    #very_portabl__menu_text{
        display: inline;
    }

    #portabl__menu_text{
        display: none;
    }

    .link , .active_page {
        display: none;
    }
}