<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="margin-top: 3px;">Home Page</h1> <!--меняй как хочешь -->

    {% if user.is_authenticated %}
      <h2>Hi {{ user }}!</h2> <!--меняй как хочешь -->
      <a href="{% url 'chats:new_group' %}" class="btn btn-secondary">New group</a> <!--меняй как хочешь -->

    <ul> <!--меняй как хочешь, но не убирай мой шедевр код p.s это for, if -->
      {% for group in groups %}
      <div id="{{ group.uuid }}">
        <li><a>{{ group.uuid }}</a></li>
          {% if request.user in group.members.all %}
            <a href="{% url 'chats:chat' uuid=group.uuid %}">Open</a>
            <a href="{% url 'chats:leave_group' uuid=group.uuid %}">Leave</a>
            <a href="{% url 'chats:remove_group' uuid=group.uuid %}">Delete</a>
          {% else %}
            <a href="{% url 'chats:join_group' uuid=group.uuid %}">Join</a>
          {% endif %}
      </div>
      {% endfor %}
    </ul>
    {% endif %}
</body>
</html>